# Flask server configuration.
FLASK_APP=todo_app/app
FLASK_ENV=development

# Token and Key to access TELLO API 
MONGO_DB_DETAILS={{ Azure_mongo_db_details }}
# Change the following values for local development.
SECRET_KEY={{ SECRET }}

APP_ID={{ AUTH_APP_ID }}
APP_SECRET={{ AUTH_APP_SECRET }}
APP_SECRET_KEY={{ APP_SECRET_KEY }}
REDIRECT_URI={{ REDIRECT_URI }}
