{% extends "layout.html" %}
{% block title %}Module 11 App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">Items App</h1>
    <p class="lead">Integration with Azure Mongo DB : List, Add and Update Items</p>
  </div>

  {% if current_user.role == 'writer' %}
  <form action="additem" method="post">
    <h3>Add Card</h3>
    <div class="add-item-to-do">
      <li>
        <input type="hidden" name="status" value = "to_do">
        <label for="item">Please add card to the "to_do" list:</label>
        <input type="text" name="item" id="title1">
      </li>
      <input type="submit" value="submit">
    </div>
  </form>
  <br>
  <form action="additem" method="post">
    <div class="add-item-to-doing">
      <li>
        <input type="hidden" name="status" value = "doing">
        <label for="item">Please add card to the "doing" list:</label>
        <input type="text" name="item" id="title2">
      </li>
      <input type="submit" value="submit">
    </div>
  </form>
    <br>
  <form action="additem" method="post">
    <div class="add-item-to-done">
      <li>
        <input type="hidden" name="status" value = "done">
        <label for="item">Please add card to the "done" list:</label>
        <input type="text" name="item" id="title3">
      </li>
      <input type="submit" value="submit">
    </div>
  </form>
  <br>
  {% endif %}  
  <div class="row">
    <div class="col-md-12">
      <h3>Cards on Trello Board</h3>
      <ul class="list-group mb-4">
        <!-- List the todo items here -->
          {% for item in view_model.todo_items %}
            <li>Card Name : {{item.name}} , Card Status : {{item.status}}</li>
            {% if current_user.role == 'writer' %}
            <form action="updateItemStatus" method="post">
              <div class="updateItemStatus">
                <input type="hidden" name="id" value = "{{item.id}}">
                <input type="hidden" name="name" value = "{{item.name}}">
                <input type="hidden" name="old_status" value = "to_do">
                <input type="hidden" name="status" value = "doing">
                <input type="submit" value="Update Item Status to doing">
              </div>
            </form>
            <form action="updateItemStatus" method="post">
              <div class="updateItemStatus">
                <input type="hidden" name="id" value = "{{item.id}}">
                <input type="hidden" name="name" value = "{{item.name}}">
                <input type="hidden" name="old_status" value = "to_do">
                <input type="hidden" name="status" value = "done">
                <input type="submit" value="Update Item Status to done">
              </div>
            </form>
            <br>
            {% endif %}  
          {% endfor %}
          {% for item in view_model.doing_items %}
            <li>Card Name : {{item.name}} , Card Status : {{item.status}}</li>
            {% if current_user.role == 'writer' %}
            <form action="updateItemStatus" method="post">
              <div class="updateItemStatus">
                <input type="hidden" name="id" value = "{{item.id}}">
                <input type="hidden" name="name" value = "{{item.name}}">
                <input type="hidden" name="old_status" value = "doing">
                <input type="hidden" name="status" value = "to_do">
                <input type="submit" value="Update Item Status to to_do">
              </div>
            </form>
            <form action="updateItemStatus" method="post">
              <div class="updateItemStatus">
                <input type="hidden" name="id" value = "{{item.id}}">
                <input type="hidden" name="name" value = "{{item.name}}">
                <input type="hidden" name="old_status" value = "doing">
                <input type="hidden" name="status" value = "done">
                <input type="submit" value="Update Item Status to done">
              </div>
            </form>
            <br>
            {% endif %}
          {% endfor %}
          {% for item in view_model.done_items %}
            <li>Card Name : {{item.name}} , Card Status : {{item.status}}</li>
            {% if current_user.role == 'writer' %}
            <form action="updateItemStatus" method="post">
              <div class="updateItemStatus">
                <input type="hidden" name="id" value = "{{item.id}}">
                <input type="hidden" name="name" value = "{{item.name}}">
                <input type="hidden" name="old_status" value = "done">
                <input type="hidden" name="status" value = "to_do">
                <input type="submit" value="Update Item Status to to_do">
              </div>
            </form>
            <form action="updateItemStatus" method="post">
              <div class="updateItemStatus">
                <input type="hidden" name="id" value = "{{item.id}}">
                <input type="hidden" name="name" value = "{{item.name}}">
                <input type="hidden" name="old_status" value = "done">
                <input type="hidden" name="status" value = "doing">
                <input type="submit" value="Update Item Status to doing">
              </div>
            </form>
            <br>
            {% endif %}
          {% endfor%}
      </ul>
    </div>
  </div>
{% endblock %}